.img-violet {
  width: 500px;
  height: 200px;
}
.violet--main {
  display: flex;
  flex-flow: column;
  gap: 5rem;
}

.lorem p {
  color: white;
  text-align: center;
  width: 50%;
  margin: 1rem auto;
}
