{% extends "base.html.twig" %}
{% block title %}Home
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('home') }}
{% endblock %}


{% block body %}

	<img class="background--img" src="./img/background.jpg" alt="background">
	<main class="main">
		<img class="elon" src="./img/elon.jpg" alt="elon">
		<article class="elon--text">
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam, laudantium eaque. Eaque, saepe. Voluptatibus, itaque? Quidem recusandae sint, illo maiores, eveniet excepturi sunt, cum at enim eum iusto eaque itaque.
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam, laudantium eaque. Eaque, saepe. Voluptatibus, itaque? Quidem recusandae sint, illo maiores, eveniet excepturi sunt, cum at enim eum iusto eaque itaque.
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam, laudantium eaque. Eaque, saepe. Voluptatibus, itaque? Quidem recusandae sint, illo maiores, eveniet excepturi sunt, cum at enim eum iusto eaque itaque.
		</article>
		<div class="itachi">
			<img class="itachi--gif" src="./img/itachi.gif" alt="Itachi">
		</div>
	</main>

{% endblock %}
