{% extends "base.html.twig" %}

{% block title %} Violet
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('violet') }}
{% endblock %}

{% block body %}
<main>
<img class= "img-Violet" src= "./img/violet.jpg" alt= "violet">
<article class= "lorem">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo excepturi repudiandae quo soluta natus ullam? Voluptas necessitatibus numquam optio facere quod eligendi qui cumque, corporis nobis quae deleniti ratione maxime?
</article>
</main>


{% endblock %}